* {
  margin: 0;
  padding: 0;
}

.home {
  height: 100%;
  background-image: url("bg1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact {
  background-image: linear-gradient(
    to right,
    rgb(229, 95, 12),
    rgba(255, 217, 0, 0.938)
  );

  background-repeat: no-repeat;
}

.bgblack1 {
  background-color: black;
  opacity: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  width: 100%;
  position: fixed;
  background-color: rgb(42, 41, 41);
}

.nav-items {
  display: flex;
  flex-direction: row;
}

.menu {
  display: flex;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  float: left;
  width: 100%;
  height: fit-content;
  justify-content: end;
  justify-content: space-between;
}

.logo {
  padding-left: 10%;
  font-size: 42px;
  display: flex;
  font-family: "Lucida Console", "Courier New", monospace;
}
.logoimg {
  padding-right: 24px;
  border-radius: 100%;
  width: 84px;
}

.logoname {
  padding: 3%;
}

.logo:hover {
  opacity: 60%;
}

#snack {
  color: white;
}

#attack {
  color: rgb(229, 95, 12);
  font-weight: 900;
}

.menu-list {
  padding-right: 8%;
  padding-top: 1%;
}

.menu-btn {
  padding-left: 32px;
  padding-right: 32px;
  color: rgb(202, 195, 195);
  text-decoration: none;
  font-size: 24px;
}

.menu-btn:hover {
  color: white;
  background-color: black;
}

h1,
h3,
p {
  color: white;
  padding-left: 10%;
}
.heading {
  font-family: system-ui;
  padding-top: 20%;
  font-size: 54px;
  font-weight: 400;
  color: rgba(255, 217, 0, 0.938);
}

h3 {
  font-family: system-ui;
  font-size: 24px;
  color: rgb(255, 232, 190);
  font-weight: 400;
  padding-top: 1%;
}
.chef {
  padding-top: 65%;
}

.p1 {
  padding-top: 5%;
  font-family: system-ui;
  width: 80%;
  font-size: 24px;
  font-weight: 400;
  color: gray;
  line-height: 32px;
  padding-bottom: 11.5%;
}

.fast {
  font-family: cursive;
  font-weight: 40;
  font-size: 60px;
  padding-left: 5px;
  padding-right: 5px;
  color: rgb(251, 246, 246);
}

.break {
  font-family: cursive;
  font-weight: 80;
  font-size: 56px;
  padding-left: 10px;
}

.title {
  font-size: 34px;
  color: white;
  background-color: black;
  margin-top: 0;
  border-radius: 24px;
  width: 35%;
  padding: 2% 3% 2% 3%;
}

.max-width {
  padding-top: 54px;
}

.p2 {
  padding-left: 0;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 4%;
  color: white;
  font-size: 24px;
  font-weight: 100;
}

.contact-content {
  display: flex;
  padding-top: 6%;
}

.column-left {
  padding-left: 10%;
  margin-bottom: 5%;
}

.icons {
  padding-top: 34px;
}

.row {
  display: flex;
  padding: 2%;
  padding-top: 5%;
}

.head {
  font-weight: bold;
  font-size: 24px;
  padding-left: 14px;
}

.sub-title {
  text-decoration: dashed;
  padding-left: 14px;
  font-size: 18px;
}

.icon {
  width: 44px;
}

.content {
  display: flex;
}

.column-right {
  background-color: black;
  padding-right: 44px;
  padding-left: 24px;
  margin: 0 5% 5% 5%;
  width: 100%;
  height: fit-content;
  border-radius: 44px;
}

input,
textarea {
  border-radius: 14px;
  width: 100%;
  margin-top: 24px;
  padding: 16px 10px 16px 10px;
  font-size: 14px;
  background-color: rgb(255, 250, 250);
  opacity: 90%;
}

button {
  align-content: center;
  margin-top: 34px;
  margin-bottom: 24px;
  padding: 14px 10px 14px 10px;
  border-radius: 10px;
  font-size: 16px;
  background-color: rgb(26, 106, 77);
  border-color: cyan;
  color: white;
}

.button-area {
  display: flex;
  justify-content: center;
}

.footer {
  background-color: black;
  padding: 10px;
}

.copyright {
  color: white;
  display: flex;
  justify-content: center;
}

.creator {
  color: white;
  display: flex;
  justify-content: center;
}

/* media query */

@media screen and (max-width: 500px) {
  body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(
      to right,
      rgb(229, 95, 12),
      rgba(255, 217, 0, 0.938)
    );
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    background-position: center;
  }

  .heading {
    padding-top: 5%;
    font-size: 24px;
    font-weight: 600;
    color: rgba(17, 17, 4, 0.938);
    padding-left: 34px;
  }

  .break {
    font-family: cursive;
    font-weight: 80;
    font-size: 56px;
    padding-left: 10px;
  }

  h3 {
    font-size: 24px;
    color: rgb(253, 248, 239);
    font-weight: 400;
    overflow: auto;
  }

  .p1{
    color: rgb(50, 48, 48);
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 11.5%;
  }

  .fast{
    font-family: cursive;
  font-weight: 40;
  font-size: 54px;
  padding-left: 5px;
  padding-right: 5px;
  color: rgb(255, 255, 255);
  }

  .home {
    background-image: none;
  }

  .contact {
    background-image: none;
  }

  .bgblack1 {
    background-color: transparent;
  }

  .menu-list {
    display: flex;
    padding: 14px;
  }

  .chef {
    padding-top: 55%;
    margin-right: 34px;
  }
  .menu-btn {
    padding-left: 14px;
  }

  .content {
    display: flex;
    flex-direction: column-reverse;
  }

  .contact-content {
    display: flex;
    flex-direction: column;
    padding-top: 6%;
  }

  .navbar {
    position: fixed;
    background-color: rgb(42, 41, 41);
  }

  .logoname {
    display: none;
  }

  .menu-btn {
    color: rgb(202, 195, 195);
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
  }

  .menu-list {
    margin-right: 44px;
  }

  .column-right {
    display:flex;
    justify-content: center;
    background-color: black;
    width: max-content;
    height: fit-content;
    border-radius: 20px;
    
  }

  input,
  textarea {
    border-radius: 14px;
    margin-top: 14px;
    margin-left: 0;
    margin-right: 14px;
    padding: 16px 10px 16px 10px;
    font-size: 16px;
    background-color: rgb(255, 250, 250);
    opacity: 90%;
  }

  .title {
    font-size: 34px;
    color: white;
    background-color: black;
    margin-top: 0;
    border-radius: 24px;
    width: 75%;
    padding: 2% 3% 2% 3%;
  }

  .footer {
    background-color: transparent;
  }

  .creator{
    color: rgb(68, 70, 70);
  }
  .creator:hover{
    color: rgb(221, 224, 224);
  }
}


/* responsive tablet */
@media screen and (max-width: 800px) and (min-width: 500px){

  .heading {
    font-family: system-ui;
    padding-top: 45%;
    font-size: 44px;
    font-weight: 400;
    color: rgba(255, 217, 0, 0.938);
  }

  h3{
    padding-top: 5%;
  }

  .p1{
    width: 100%;
  }

  .title {
    font-size: 34px;
    color: white;
    background-color: black;
    margin-top: 0;
    border-radius: 24px;
    width: 75%;
    padding: 2% 3% 2% 5%;
  }

  .column-left {
    padding-left: 5%;
    margin-bottom: 5%;
  }

  .column-right {
    margin: 0 3% 5% 1%;
  }

  input,
textarea {
  margin-top: 14px;
}
button {
  margin-top: 14px;
}

.menu-btn {
  color: rgb(202, 195, 195);
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
}

.menu-list {
  margin-right: 34px;
}

}